body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
}

.link {
  color: white;
  text-decoration: none;
}
.link:hover {
  color: lightblue;
}

.post-link {
  color: black;
  text-decoration: none;
}

nav {
  background-color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.signin-signup {
  display: flex;
  gap: 5px;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}

.body-section {
  background-color: whitesmoke;
  padding-bottom: 50px;
  padding: 0px 250px 100px 250px;
}

.signin-form,
.signup-form {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.signin-form > input,
.signup-form > input {
  width: 500px;
  height: 30px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 10px 3px grey;
  font-size: 1.25rem;
  padding-left: 5px;
}

.firstname-lastname > input {
  width: 155px;
  margin: 0px 5px;
  height: 30px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 10px 3px grey;
  font-size: 1.25rem;
  padding-left: 5px;
}

.signin-form > button,
.signup-form > button,
.create-post > button,
.title-container > .edit-btn > button {
  margin-top: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 140px;
  height: 30px;
  background-color: black;
  color: white;
  border: none;
  font-size: 1.5rem;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px grey;
  cursor: pointer;
}
button:hover {
  color: lightblue;
}
.posts > h1 {
  text-align: center;
  margin: 0;
  padding: 20px 0px 10px 0px;
}
.post {
  margin: 20px 20px;
  display: flex;
  gap: 10px;
  box-shadow: 0px 0px 10px 5px grey;
  padding: 0px 10px;
  border-radius: 10px;
}

.post > img {
  margin: 10px 0px;
  border-radius: 10px;
  height: 150px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info > h3 {
  margin: 0;
}

.time {
  margin-right: 20px;
}

.create-post {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.create-post > .create-post-heading {
  width: 500px;
  height: 25px;
  font-size: 1.25rem;
}

.create-post > .create-post-file-upload {
  align-self: center;
}

.create-post > .create-post-content {
  background-color: white;
  width: 500px;
}

.post-details {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.post-details > img {
  margin: 10px 0px 0px 0px;
  border-radius: 10px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 10px 0px;
}

.user-comment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.user-comment > input {
  border: none;
  width: 675px;
  height: 30px;
  font-size: 1.25rem;
  border-radius: 5px;
  background-color: whitesmoke;
}
.user-comment > button {
  margin-top: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 140px;
  height: 30px;
  background-color: black;
  color: white;
  border: none;
  font-size: 1.5rem;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 3px grey;
  cursor: pointer;
  margin-top: 0px;
}
